body {
   background-image:url("http://theinspirationgrid.com/wp-content/uploads/2013/12/animated-gif-ma-07.gif");
}



h1 {
   color: gray;
   font-size: 50px;
   text-align: center;
   text-decoration: underline;
     font-family: 'Permanent Marker', cursive;
}

h3 {
   color: white;
   font-size: 50px;
   text-align: center;
   font-family: 'Permanent Marker', cursive;
}

a  {
   margin-right: 500px;
   margin-left: 500px;
   margin-top: 50px;
   display: block;
   border-radius: 10px;
   border: 5px solid white;
   text-align: center;
   font-size: 3em;
   text-decoration: none;
   color: gray;
   font-family: 'Permanent Marker', cursive;
}

div a:hover {
   color: white;
   background-color:#666666;
}
