body{
    margin: 0;
    padding:0;
}


#game-screen{
    display: block;
}

#gameOver, #playHUD, #mainMenu{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive;
    color: gray;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: #666666
}

#scoreboard {
    margin: 0px;
}